{:interfaces {
              :Entity        {:description "A Standard entity with id."
                              :fields      {:id {:type (non-null ID)}}}

              :InventoryItem {:description "Something that can exist in an inventory."
                              :fields      {:id        {:type (non-null ID)}
                                            :name      {:type String}
                                            :image-url {:type String}}}}
 :enums      {:sex {:values [:male :female]}}
 :objects    {:Company            {:description "A company that may publish a Board Game."
                                   :implements  [:Entity]
                                   :fields      {:id          {:type (non-null ID)}
                                                 :name        {:type String}
                                                 :description {:type String}}}

              :Person             {:description "Person who may have inventory."
                                   :implements  [:Entity]
                                   :fields      {:id         {:type (non-null ID)}
                                                 :kind       {:type        String
                                                              :description "E.g. teacher or student."}
                                                 :group      {:type String}
                                                 :image      {:type String}
                                                 :first-name {:type String}
                                                 :last-name  {:type String}
                                                 :email      {:type String}
                                                 :username   {:type String}
                                                 :sex        {:type :sex}
                                                 :phone      {:type String}
                                                 :address    {:type String}
                                                 :inventory  {:type    (list :InventoryItem)
                                                              :resolve :resolve-computers}}}

              :Computer           {:description "Details about a computer."
                                   :implements  [:InventoryItem]
                                   :fields      {:id               {:type (non-null ID)}
                                                 :name             {:type String}
                                                 :release-date     {:type Int}
                                                 :brand            {:type String}
                                                 :model-name       {:type String}
                                                 :model-identifier {:type String}
                                                 :color            {:type String}
                                                 :serial-number    {:type String}
                                                 :image-url        {:type String}
                                                 :history          {:type    (list :InventoryItemEvent)
                                                                    :resolve :resolve-inventory-item-event}
                                                 :purchase-details {:type :PurchaseDetails}}}

              :PurchaseDetails    {:description "Details about how a computer was acquired."
                                   :fields      {:purchase-id       {:type (non-null ID)}
                                                 :documents         {:type    (list :Document)
                                                                     :resolve :resolve-documents}
                                                 :supplier          {:type :Company}
                                                 :delivery-date     {:type Int}
                                                 :insurance-expires {:type Int}
                                                 :warranty-expires  {:type Int}}}

              :InventoryItemEvent {:description "Something that happened to an inventory item. Such as being reassigned, repaired or decommissioned."
                                   :person      {:type :Person}
                                   :date-time   {:type Int}
                                   :comment     {:type String}}

              :Document           {:description "A file."
                                   :id          {:type ID}
                                   :file-type   {:type String}
                                   :name        {:type String}
                                   :comment     {:type String}
                                   :url         {:type String}}}






 :queries    {:computers {:type        (list :Computer)
                          :description "Retrieve a filtered list of computers."
                          :args        {:model-name {:type String}}
                          :resolve     :resolve-computers}
              :people    {:type        (list :Person)
                          :description "Retrieve a filtered list of people."
                          :args        {:ids   {:type (list ID)}
                                        :group {:type String}}
                          :resolve     :resolve-people}}}
